
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<footer class="footer bg-dark py-3 mt-auto">
    
    <div class="container text-center">
        <span class="text-muted">"<%= quote %>" -Ron Swanson</span>
    </div>
</footer>

</body>
</html>
