<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Food N Stuff</h1>
                <p class="lead">We have food. We have stuff. End of Discussion.</p>
              </div>

<div class="container">

    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">Apples</h5>
          <p class="card-text">Use them to make pie or just eat them</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</div>

<%- include('partials/footer') %>


    <!-- <div class="row">
        <div class="col-6 offset-3 bg-primary">

            </div>
     -->
